---
import BrandItem from "@components/BrandItem.astro";

// Logo Icons
import valeoBrand from '../assets/logos/valeo.webp';
import boschBrand from '../assets/logos/bosch.webp';
import bremboBrand from '../assets/logos/Brembo.webp';
import sachsBrand from '../assets/logos/sachs.webp';
import trwBrand from '../assets/logos/TRW.webp';
import continentalBrand from '../assets/logos/continental.webp';
import monroeBrand from '../assets/logos/monroe.webp';
import lukBrand from '../assets/logos/LuK.webp';
---

<section class="bg-[#f8f8f8] dark:bg-[#252525] overflow-hidden whitespace-nowrap pt-4 pb-3">
    <div class="inline-flex flex-row animate-loop-scroll">
        <BrandItem image={valeoBrand} alt="Valeo Logo" />
        <BrandItem image={boschBrand} alt="Bosch Logo" />
        <BrandItem image={bremboBrand} alt="Brembo Logo" />
        <BrandItem image={sachsBrand} alt="Sachs Logo" />
        <BrandItem image={trwBrand} alt="TRW Logo" />
        <BrandItem image={continentalBrand} alt="Continental Logo" />
        <BrandItem image={monroeBrand} alt="Monroe Logo" />
        <BrandItem image={lukBrand} alt="LuK Logo" />
    </div>
    <div class="inline-flex flex-row animate-loop-scroll">
        <BrandItem image={valeoBrand} alt="Valeo Logo" />
        <BrandItem image={boschBrand} alt="Bosch Logo" />
        <BrandItem image={bremboBrand} alt="Brembo Logo" />
        <BrandItem image={sachsBrand} alt="Sachs Logo" />
        <BrandItem image={trwBrand} alt="TRW Logo" />
        <BrandItem image={continentalBrand} alt="Continental Logo" />
        <BrandItem image={monroeBrand} alt="Monroe Logo" />
        <BrandItem image={lukBrand} alt="LuK Logo" />
    </div>
    <div class="inline-flex flex-row animate-loop-scroll">
        <BrandItem image={valeoBrand} alt="Valeo Logo" />
        <BrandItem image={boschBrand} alt="Bosch Logo" />
        <BrandItem image={bremboBrand} alt="Brembo Logo" />
        <BrandItem image={sachsBrand} alt="Sachs Logo" />
        <BrandItem image={trwBrand} alt="TRW Logo" />
        <BrandItem image={continentalBrand} alt="Continental Logo" />
        <BrandItem image={monroeBrand} alt="Monroe Logo" />
        <BrandItem image={lukBrand} alt="LuK Logo" />
    </div>
</section>
